body{
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f8f8f8;
}

header{
  background: #ff7aa2;
  color: white;
  text-align: center;
  padding: 20px;
}

/* HERO */
.hero{
  position: relative;
  height: 100vh;
  background: url("IMG/IMG_1182.PNG");
  background-size: 100%;
  background-position: center 10%;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content{
  max-width: 800px;
  padding: 20px;
  color: #000;
  margin-top: 50vh;
}

.hero h1{
  font-size: 4rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.hero p{
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 30px;
}

.hero button{
  padding: 15px 35px;
  border: none;
  border-radius: 50px;
  background: #0071e3;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: .3s;
}

.hero button:hover{
  transform: translateY(-3px);
}

/* PICKUP */
.pickup{
  padding: 80px 10%;
  text-align: center;
}

.pickup h2{
  margin-bottom: 15px;
  font-size: 2rem;
}

.maps-btn{
  display: inline-block;
  padding: 14px 25px;
  background: #4285F4;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 15px;
}

.maps-btn:hover{
  background: #2a6ad6;
}

/* MENU */
.menu{
  padding: 100px 8%;
  background-color: #000;
}

.menu h2{
  text-align: center;
  margin-bottom: 60px;
  font-size: 3rem;
  color: white;
}

.menu h3{

  text-align: center;
  margin-bottom: 60px;
  font-size: 2rem;


}

/* GRID PRODUCTS */
.products{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.product{
  background: rgb(193, 117, 41);
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(64, 130, 140, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.product img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.product:nth-child(1) img{

    object-position: 10% 80%; /* X Y */

}

.product:nth-child(2) img{

    object-position: 10% 65%; /* X Y */

}

.product:nth-child(3) img{

    object-position: 10% 70%; /* X Y */

}

.product button{
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  background: #305769;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}



/* COMBOS */
.combos{
  padding: 30px 8%;
}

.combos h2{
  text-align: center;
  margin-bottom: 50px;
  font-size: 3rem;
}

.combo-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.combo{
  background: white;
  border-radius: 25px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,.08);
  transition: .4s;
}


.combo:nth-child(1) img{

object-position: 40% 40%;


}

.combo:nth-child(2) img{

object-position: 40% 40%;
}

.combo:nth-child(3) img{

object-position: 60% 40%;
}

.combo:hover{
  transform: translateY(-10px);
}

.combo h3{
  text-align: center;
  margin-bottom: 60px;
  font-size: 1.5rem;}

.combo span{

  display: block;

  margin-top: 20px;

  color: #0071e3;

  font-size: 1.5rem;

  word-spacing: 2rem;

  font-weight: bold;

}

.combo img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.combos button{
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  background: #305769;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}



/* CART */
.cart{
  width: 50%;
  margin: 40px auto;
  padding: 30px;
  background: #f5f5f5;
  border-radius: 12px;
  text-align: center;
}

.cart ul{
  list-style: none;
  padding: 0;
}

.cart li{
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.cart button{
  width: 80%;
  padding: 10px;
  margin-top: 15px;
  background: #25D366;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

/* TOAST */
#toast{
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: #25D366;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 16px;
  opacity: 0;
  pointer-events: none;
  transition: .3s ease;
}

#toast.show{
  opacity: 1;
  transform: translateX(-50%) translateY(-10px);
}

/* CTA */
.cart{
  width: 50%;
  margin: 40px auto;
  padding: 30px;
  background: #f5f5f5;
  border-radius: 12px;
  text-align: center;
}

.cart ul{
  list-style: none;
  padding: 0;
}

.cart li{
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

/* Botón principal WhatsApp */
.whatsapp-btn{
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #25D366;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

/* Contenedor acciones */
.contact-actions{
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

/* Botones secundarios */
.btn{
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: center;
}

.sms{
  background: #007bff;
}

.call{
  background: #ff7a00;
}

/* Hover opcional */
.btn:hover{
  opacity: 0.9;
  transform: scale(1.02);
  transition: 0.2s;
}

/* FOOTER */
footer{
  background: #111;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

footer p{
  color: #bdbdbd;
}

.socials{
  margin: 25px 0;
}

.socials a{
  color: white;
  text-decoration: none;
  margin: 0 12px;
}

.copy{
  margin-top: 20px;
  font-size: .9rem;
}

.hidden{

  opacity: 0;

  transform: translateY(20px);

}

.show{

  opacity: 1;

  transform: translateY(0);

  transition: .6s ease;

}


/* RESPONSIVE */
@media(max-width:1024px){
  .hero h1{
    font-size: 3rem;
  }
}

@media(max-width:768px){
  .hero h1{
    font-size: 2.3rem;
  }

  .hero p{
    font-size: 1rem;
  }

  .menu h2,
  .combos h2,
  .cta h2{
    font-size: 2rem;
  }
}



